.pixel-canvas {
  position: fixed;
  inset: 0;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none;
  z-index: 99999;
}

.goo-filter-container {
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  z-index: 99998;
}
